body {
    margin: 0;
    padding: 0;
    background-color: #615cad;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-container {
    position: relative;
}

canvas {
    border: 2px solid rgb(0, 0, 0);
}
